# env config
python-decouple==2.3
django-cache-url==1.0.0
dj-database-url==0.3.0

# cache with redis
django-redis==4.2.0

# sentry
sentry==8.3.1

# ldap user store
django-auth-ldap==1.2.6

# hipchat integration
sentry-hipchat==0.6.0

# redmine integration
-e git+https://github.com/getsentry/sentry-redmine.git@3f411245e345dcc8a8be7613d430a41cbd8524cc#egg=sentry_redmine

# statsd extension
sentry-statsd==0.0.2

# Google sso auth
https://github.com/getsentry/sentry-auth-google/archive/master.zip

# slack integration
https://github.com/getsentry/sentry-slack/archive/master.zip
