# env config
python-decouple==2.3
django-cache-url==1.0.0
dj-database-url==0.3.0

# cache with redis
django-redis==4.2.0

# sentry
sentry==8.0.4

# ldap user store
django-auth-ldap==1.2.6

# hipchat integration
sentry-hipchat==0.6.0

# redmine integration
-e git+https://github.com/getsentry/sentry-redmine.git@79046df5b39a5bda7f3ef44ec8f2a311219a58c2#egg=sentry_redmine

# statsd extension
sentry-statsd==0.0.2

# Google sso auth
https://github.com/getsentry/sentry-auth-google/archive/master.zip
